@font-face {
  font-family: lalezar;
  src: url("./../fonts/Lalezar-Regular.ttf");
}
@font-face {
  font-family: iranYekan;
  src: url("./../fonts/IRANYekanRegular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: iranYekan;
  color: #2d365d;
  overflow-x: hidden;
}

.bg-theme {
  background-color: #05f;
}

.bg-secondary-500 {
  background-color: #797e86;
}

.bg-secondary-400 {
  background-color: #b3bbc7;
}

.text-theme {
  color: #05f;
}

.color-dark {
  color: #2d365d;
}

.bg-dark-color {
  background-color: #2d365d;
}

.circle {
  clip-path: circle();
}

.b-radius-l {
  border-radius: 4rem;
}

.b-radius-m {
  border-radius: 2rem;
}

.b-radius-s {
  border-radius: 1rem;
}

.f-lalezar {
  font-family: lalezar;
}

.fs-7 {
  font-size: 0.9rem;
}

.fw-bold {
  font-weight: bolder;
}

.fw-300 {
  font-weight: 300;
}

.w-max-content {
  width: max-content;
}

.h-max-content {
  height: max-content;
}

html::-webkit-scrollbar {
  background-color: #fff;
  width: 0.6rem;
}

html::-webkit-scrollbar-thumb {
  background-color: #05f;
}

.nav-item {
  list-style-type: none;
}

.lifesports {
  width: 13rem;
}

.search-product {
  width: 20rem;
}
.search-product .search-product-input {
  padding: 8px 1rem 12px 4rem;
  border: 2px solid #797e86;
}
.search-product .search-product-input:focus {
  box-shadow: none;
}
.search-product .search-product-input::placeholder {
  color: #797e86;
}
@media screen and (max-width: 1199px) {
  .search-product {
    width: 16rem;
  }
}
@media screen and (max-width: 991px) {
  .search-product {
    width: 20rem;
  }
}
@media screen and (max-width: 576px) {
  .search-product {
    width: 17rem;
  }
}
@media screen and (max-width: 400px) {
  .search-product {
    width: 75%;
  }
}
.search-product .btn-search {
  background-color: #797e86;
  border: none;
  left: 0;
  -moz-transform: translateY(2px);
}

.btn-login-register-user {
  border: 1px solid #797e86;
  transition: 0.25s;
}
.btn-login-register-user:hover {
  background-color: #2d365d !important;
  color: #fff;
}

.collapse .nav-item {
  transition: 0.25s;
}
.collapse .nav-item:hover {
  background-color: #2d365d;
}
.collapse .nav-item .nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
}

.offcanvas .btn-close-navbar:hover {
  background: #05f;
}

.cart-icon {
  background-color: #49be78;
}

.count-cart {
  transform: translate(10px, -5px);
  background-color: #2d365d;
}

.btn-navbar-toggle .btn-navbar-toggle-item {
  width: 2.5rem;
  height: 0.37rem;
}
@media screen and (max-width: 576px) {
  .btn-navbar-toggle .btn-navbar-toggle-item {
    width: 2rem;
  }
}

.offcanvas {
  width: 17rem !important;
}
@media screen and (max-width: 576px) {
  .offcanvas {
    width: 14rem !important;
  }
}
.offcanvas .btn-close:focus {
  box-shadow: none;
}
.offcanvas .offcanvas-body ul li:hover,
.offcanvas .offcanvas-body ul li:focus {
  background: #05f !important;
  color: #fff !important;
}

.dropdown-menu {
  padding: 0 !important;
  border-radius: 0 !important;
}
.dropdown-menu li a {
  transition: 0.25s;
  padding: 0.7rem 1rem !important;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background-color: #05f !important;
  color: #fff !important;
}

@media screen and (max-width: 400px) {
  .lifesports-icon {
    width: 80%;
  }
}

.submenu-category {
  width: 95%;
}

.hidden-content {
  overflow: hidden !important;
}

.section-one {
  background-image: url("./../../images/gallery-items/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media screen and (max-width: 400px) {
  .section-one {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.section-one .title-item-footer {
  margin-right: -20px;
}
@media screen and (max-width: 991px) {
  .section-one .title-item-footer:nth-child(1) {
    margin-right: 20px;
  }
}
.section-one li {
  list-style-type: disc;
  color: #05f;
}

.footer-image {
  margin-top: -140px;
}
@media screen and (max-width: 400px) {
  .footer-image {
    margin-top: -100px;
  }
}

.loader {
  height: 100vh;
  z-index: 99999999999;
  position: fixed;
  top: 0;
}
.loader .custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}
.loader .custom-loader::before, .loader .custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #05f, 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.loader .custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

.hidden-loader {
  display: none !important;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
.container {
  margin-top: 11rem;
}

.cart-wrapper {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1215686275);
  /* Start Delete All Products */
  /* Finish Delete All Products */
  /* Start Products In Cart */
  /* Start Products In Cart */
  /* Start Bottombar */
  /* Finish Bottombar */
}
@media screen and (max-width: 576px) {
  .cart-wrapper {
    box-shadow: none !important;
  }
}
.cart-wrapper .btn-delete-all-products {
  width: 6rem;
}
.cart-wrapper .products {
  border: 1px solid #b3bbc7;
}
.cart-wrapper .delete-product-cart {
  border: none;
  transition: 0.25s;
  background: #fcd3d3;
}
.cart-wrapper .delete-product-cart:hover {
  color: #fff !important;
  background: #ee232b;
}
.cart-wrapper .value-discount-off {
  border-radius: 50px 40px 40px 0;
}
@media screen and (max-width: 991px) {
  .cart-wrapper .product-image {
    width: 45% !important;
    height: 45% !important;
  }
}
@media screen and (max-width: 576px) {
  .cart-wrapper .product-image {
    width: 65% !important;
    height: 65% !important;
  }
}
@media screen and (max-width: 400px) {
  .cart-wrapper .product-image {
    width: 80% !important;
    height: 80% !important;
  }
}
.cart-wrapper .product-title {
  transition: 0.25s;
  text-align: justify;
}
.cart-wrapper .product-title:hover {
  color: #05f !important;
}
@media screen and (max-width: 576px) {
  .cart-wrapper .product-title {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 576px) {
  .cart-wrapper .product-price {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .cart-wrapper .discount {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 576px) {
  .cart-wrapper .price {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 576px) {
  .cart-wrapper .price .title-price {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 991px) {
  .cart-wrapper .add-minus-product-count {
    float: left;
  }
}
@media screen and (max-width: 576px) {
  .cart-wrapper .add-minus-product-count {
    float: none !important;
    justify-content: center;
  }
}
.cart-wrapper .minus-count,
.cart-wrapper .add-count {
  background: none;
  border: none;
}
.cart-wrapper .input-discount-code {
  width: 16rem;
}
@media screen and (max-width: 576px) {
  .cart-wrapper .input-discount-code {
    width: 14rem;
  }
}
@media screen and (max-width: 400px) {
  .cart-wrapper .input-discount-code {
    width: 100% !important;
  }
}
.cart-wrapper .input-discount-code:focus {
  box-shadow: none;
}
.cart-wrapper .btn-accept-discount-code {
  transition: 0.25s;
}
.cart-wrapper .btn-accept-discount-code:hover {
  background-color: #ee232b !important;
}
@media screen and (max-width: 400px) {
  .cart-wrapper .btn-accept-discount-code {
    margin-top: 0.7rem !important;
  }
}
.cart-wrapper .total-price {
  background-color: #e4f0da;
}
.cart-wrapper .total-price .title-total {
  word-spacing: -2px;
}
@media screen and (max-width: 576px) {
  .cart-wrapper .total-price .title-total {
    font-size: 0.8rem !important;
  }
}
.cart-wrapper .total-price .total-price-cart {
  color: #67b930 !important;
}
@media screen and (max-width: 991px) {
  .cart-wrapper .total-price .total-price-cart {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 400px) {
  .cart-wrapper .total-price .total-price-cart {
    font-size: 1.2rem !important;
  }
}
.cart-wrapper .btn-continue-order {
  background-color: #67b930;
  transition: 0.25s;
}
.cart-wrapper .btn-continue-order:hover {
  filter: brightness(90%);
}

/* Start Emptybag Message */
.emptybag-message img {
  width: 20rem;
}
.emptybag-message p {
  margin-top: -20px;
}
.emptybag-message .go-shop {
  background-color: #67b930;
}

/* Finish Emptybag Message */

/*# sourceMappingURL=cart.css.map */
