@font-face {
  font-family: lalezar;
  src: url("./../fonts/Lalezar-Regular.ttf");
}
@font-face {
  font-family: iranYekan;
  src: url("./../fonts/IRANYekanRegular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: iranYekan;
  color: #2d365d;
  overflow-x: hidden;
}

.bg-theme {
  background-color: #05f;
}

.bg-secondary-500 {
  background-color: #797e86;
}

.bg-secondary-400 {
  background-color: #b3bbc7;
}

.text-theme {
  color: #05f;
}

.color-dark {
  color: #2d365d;
}

.bg-dark-color {
  background-color: #2d365d;
}

.circle {
  clip-path: circle();
}

.b-radius-l {
  border-radius: 4rem;
}

.b-radius-m {
  border-radius: 2rem;
}

.b-radius-s {
  border-radius: 1rem;
}

.f-lalezar {
  font-family: lalezar;
}

.fs-7 {
  font-size: 0.9rem;
}

.fw-bold {
  font-weight: bolder;
}

.fw-300 {
  font-weight: 300;
}

.w-max-content {
  width: max-content;
}

.h-max-content {
  height: max-content;
}

html::-webkit-scrollbar {
  background-color: #fff;
  width: 0.6rem;
}

html::-webkit-scrollbar-thumb {
  background-color: #05f;
  border-radius: 1rem;
}

.nav-item {
  list-style-type: none;
}

.lifesports {
  width: 13rem;
}

.search-product {
  width: 20rem;
}
.search-product .search-product-input {
  padding: 8px 1rem 12px 4rem;
  border: 2px solid #797e86;
}
.search-product .search-product-input:focus {
  box-shadow: none;
}
.search-product .search-product-input::placeholder {
  color: #797e86;
}
@media screen and (max-width: 1199px) {
  .search-product {
    width: 16rem;
  }
}
@media screen and (max-width: 991px) {
  .search-product {
    width: 20rem;
  }
}
@media screen and (max-width: 576px) {
  .search-product {
    width: 17rem;
  }
}
@media screen and (max-width: 400px) {
  .search-product {
    width: 75%;
  }
}
.search-product .btn-search {
  background-color: #797e86;
  border: none;
  left: 0;
  -moz-transform: translateY(2px);
}

.btn-login-register-user {
  border: 1px solid #797e86;
  transition: 0.25s;
}
.btn-login-register-user:hover {
  background-color: #2d365d !important;
  color: #fff;
}

.collapse .nav-item {
  transition: 0.25s;
}
.collapse .nav-item:hover {
  background-color: #2d365d;
}
.collapse .nav-item .nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
}

.offcanvas .btn-close-navbar:hover {
  background: #05f;
}

.cart-icon {
  background-color: #49be78;
}

.count-cart {
  transform: translate(10px, -5px);
  background-color: #2d365d;
}

.btn-navbar-toggle .btn-navbar-toggle-item {
  width: 2.5rem;
  height: 0.37rem;
}
@media screen and (max-width: 576px) {
  .btn-navbar-toggle .btn-navbar-toggle-item {
    width: 2rem;
  }
}

.offcanvas {
  width: 20rem !important;
}
@media screen and (max-width: 576px) {
  .offcanvas {
    width: 16rem !important;
  }
}
.offcanvas .btn-close:focus {
  box-shadow: none;
}

.dropdown-menu {
  padding: 0 !important;
  border-radius: 0 !important;
}
.dropdown-menu li a {
  transition: 0.25s;
  padding: 0.7rem 1rem !important;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background-color: #05f !important;
  color: #fff !important;
}

.section-one {
  background-image: url("./../../images/gallery-items/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media screen and (max-width: 400px) {
  .section-one {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.section-one .title-item-footer {
  margin-right: -20px;
}
@media screen and (max-width: 991px) {
  .section-one .title-item-footer:nth-child(1) {
    margin-right: 20px;
  }
}
.section-one li {
  list-style-type: disc;
  color: #05f;
}

.footer-image {
  margin-top: -140px;
}
@media screen and (max-width: 400px) {
  .footer-image {
    margin-top: -100px;
  }
}

.loader {
  height: 100vh;
  z-index: 99999999999;
  position: fixed;
  top: 0;
}
.loader .custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}
.loader .custom-loader::before, .loader .custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #05f, 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.loader .custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

.hidden-loader {
  display: none !important;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
.navbar {
  transform: none !important;
  visibility: visible !important;
  background-color: inherit;
  border: none !important;
}

.active,
.navbar-item:hover,
.offcanvas-item:hover {
  background-color: #05f !important;
}

.navbar-item,
.offcanvas-item {
  background-color: #696969;
  cursor: pointer;
  transition: 0.25s;
}

.my-profile-image {
  width: 3.5rem;
}

.section {
  box-shadow: 0px 39px 99px rgba(0, 0, 0, 0.0509803922);
}

.section-wrapper {
  height: 100vh;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
@media screen and (max-width: 991px) {
  .section-wrapper {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}
.section-wrapper .logout {
  cursor: pointer;
}
.section-wrapper i {
  transition: 0.25s;
}
.section-wrapper i:hover {
  color: #fff !important;
  background-color: #797e86 !important;
}
.section-wrapper .panel-header-info {
  width: 28rem;
  overflow-x: hidden;
}
@media screen and (max-width: 991px) {
  .section-wrapper .panel-header-info {
    width: 29rem;
  }
}
.section-wrapper .panel-header-info .wellcome {
  border-left: 1px solid #797e86;
}
.section-wrapper .panel-header-info .date {
  font-size: 0.7rem;
}
.section-wrapper .panel-header-info .panel-open-nav {
  border: none;
}
.section-wrapper .panel-header-info .panel-open-nav i {
  display: contents !important;
}
.section-wrapper .title {
  word-spacing: -2px;
  font-size: 0.7rem;
}
.section-wrapper .value {
  font-size: 0.8rem;
}
.section-wrapper .panel-full-info-item:hover i {
  background-color: #05f !important;
}
.section-wrapper .icon i {
  transition: 0.3s;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 70px 40px 40px 40px;
}

@media screen and (max-width: 576px) {
  .offcanvas {
    width: 14rem !important;
  }
}

.container-user-info-footer {
  overflow: hidden !important;
  height: 100px !important;
}

.container-user-info .panel-open-nav {
  border: none;
}
.container-user-info .panel-open-nav i {
  display: contents;
}

.footer-text {
  margin-top: 8rem;
}
@media screen and (max-width: 991px) {
  .footer-text {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer-text {
    margin-top: 2.5rem;
  }
}
.footer-text p {
  word-spacing: -2px;
}

/*# sourceMappingURL=my-profile.css.map */
